#header {
    
    h1 { 
        font-family: droid-sans, sans-serif;
        font-size: 4.3em;
        line-height: 60px;
        color: #000;
        text-shadow: 3px 5px 15px #f8f8f8;
        margin: 0;
    }  

    .name { 
        display: block; 
    }

    .title { 
        display: block; 
        font-size: .73em; 
    }

    .navbar { 
        margin-top: 2em; 
        border-width: 2px 0 1px 0;
        border-top-color: #333;
        border-bottom-color: #666;
        border-radius: 0;
        
        &>li>a {
            font-weight: bold;
            color: #000;
        }
    }

    
}

